#team-view {
    padding: 2rem;
    display: grid;
    grid-template: repeat(4, auto) / 1fr 1fr;
    position: relative;
}

#team-view .section-title {
grid-column: 1/3;
justify-self: center;
padding-bottom: 2rem;
}

.view-section{
    padding: 2rem;
    background-color: var(--grey);
    color: var(--light-grey);
    margin-bottom: 4rem;
}

#team-view .title  {
    font-size: var(--title); 
    justify-self: center; 
    color: var(--gold);
    margin-bottom: 1.6rem
}

/* CHAMPION POOL SECTION */

.champ-pool {
    grid-row: 2/3;
    grid-column: 1/3;
    display: grid;
    grid-template: 1fr 3fr 3fr / repeat(6, 1fr);
    justify-items: start;
    align-items: center;
}

.champ-pool .title {
    grid-column: 1/7;
}

.player {
    border: solid 1px var(--grey);
    padding: 2rem 0 0 0;
    width: 90%;
    margin-left: 4rem;
}

.top {
    grid-column: 1/3;
}

.mid {
    grid-column: 3/5;
    grid-row: 2/3;
}

.jungle{
    grid-column: 5/7;
}

.bot{
    grid-column: 2/4;
}

.support {
    grid-column: 4/6;
}

.lane {
    padding-bottom: 0.4rem;
    font-size: var(--paragraph);
    border-bottom: solid 1px var(--light-grey);
}

.tier-list,
.blind-list,
.flex-list,
.suggested-list {
    display: flex;
    flex-direction: row;
    justify-content: start;
    /* justify-items: stretch; */
    align-items: flex-start;
    flex-wrap: wrap;
   
}

.tier-list .champ,
.blind-list .champ,
.flex-list .champ,
.suggested-list .champ,
.comp-champs .champ{
    margin-right: 0.4rem;
}

.tier-title {
    font-size: var(--span);
    margin-top: 1.2rem;
}

.player .champ,
.comp .champ {
    cursor: pointer;
}

.champ {  
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0.8rem;
}

.champ.delete {
    color: var(--grey);
}

.champ.delete .champ-logo {
    background-color: var(--dark-grey);
}

.champ-logo,
.add-champ-btn {  
    border: solid 1px var(--gold);
    width: 8rem;
    height: 8rem;
    border-radius: 2px;
    margin-top: 0.8rem;
}

.champ.active .champ-logo,
.champ.delete.active .champ-logo{
    box-shadow: 0 0 0 2px var(--gold);
}

.add-champ-btn {
    background: var(--white);
    cursor: pointer;
    
}

.add-champ-svg {
    color: var(--gold);
    
}
.add-champ-btn:active .add-champ-svg{
    transform: scale(-0.9, -0.9);
}

/* STRATEGIES SECTION */

.strategies {
    grid-row: 3/4;
    grid-column: 1/3;
    display: grid;
    grid-template-rows: auto 1fr;
}

.strategies .content {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    padding-top: 2rem;
    padding-bottom: 2rem;
    gap: 2rem;
}

.strategies .content div {
    width: 90%;
}

.strategies .subtitle {
    padding-bottom: 0.4rem;
    font-size: var(--paragraph);
    border-bottom: solid 1px var(--light-grey);
}

.suggest-comp {
    font-size: var(--paragraph);
    padding-top: 0.8rem;
}

/* TEAM COMPOSITIONS SECTION */

.team-comps {
    grid-column: span 2;
}

.add-comp-btn {
    padding: 0.4rem;
    border-radius: 2px;
    margin-bottom: 0.4rem;
    cursor: pointer;
    background-color: var(--white);
    color: var(--grey);
    font-size: var(--paragraph);
    text-align: center;
    display: flex;
    border-radius: 4px;
    border: transparent;
}

.add-comp-btn:active {
    transform: scale(0.98);
}

.add-comp-svg {
    width: 1.6rem;
    height: 1.6rem;
    color: var(--black);
    align-self: center;
}

.comp-list {
    margin: 0.8rem;
}

.comp {
    display: grid;
    grid-template: 1fr 3fr / 1fr 1fr;
    border: solid 2px var(--light-grey);
    padding: 0.8rem;
    border-radius: 4px;
    margin-bottom: 0.2rem;
    justify-items: center;
    align-items: center;
    position: relative;
}

.comp-btns {
    position: absolute;
    top: 0;
    left: 0;
}

.comp-btn {
    background-color: var(--light-grey);
    margin-left: 0.4rem;
    margin-top: 0.4rem;
    cursor: pointer;
    border: transparent;
    padding: 0.2rem 0.4rem;
    border-radius: 4px;
}

.comp-icon {
    width: var(--subtitle);
    height: var(--subtitle);
    color: var(--grey);
}

.comp-btn:active .comp-icon {
    transform: scale(0.9);
}

.comp-name {
    font-size: var(--paragraph);
    grid-column: span 2;
}

.front-part, 
.details {
    display: flex;
    width: 80%;
    height: 100%;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.comp-champs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 1.2rem;
    justify-content: center;
}

.game-plan {
    font-size: var(--paragraph);
}

.synergies {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    justify-items: center;
}

.statistics {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
    justify-items: center;
    gap: 0.4rem;
}

.stat{
    font-size: var(--paragraph);
    max-width: max-content;
    font-weight: var(--medium);
}

.synergies p{
    font-size: var(--paragraph);
}

.jungle-syn {
    grid-row: span 2;
}

.comp-builder.hidden {
    visibility: hidden;
}

/* CHAMPIONS SECTION */

.champions-section {
    position: fixed;
    background-color: var(--grey);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 80%;
   
    border: solid 2px var(--gold);
}

.champions-section.hidden {
    visibility: hidden;
}

.champions-container {
    padding: 0.8rem;
    display: grid;
    grid-template-rows: auto 1fr auto ;
    justify-content: stretch;
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    
}

.search-bar {
    color: var(--gold);
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.search-svg {
    color: var(--light-grey);
    width: 4rem;
    height: 4rem;
}

.search-bar input {
    background-color: var(--white);
    color: var(--black);
    border-radius: 2px;
    padding: 0.4rem;
    height: 4rem;
    font-size: var(--paragraph);
}

.close-btn{
    height: 4rem;
    width: 4rem;
    background: var(--grey);
    margin: 0.2rem 0.4rem;
    position: absolute;
    border-radius: 2px;
    top: 0;
    right: 0;
}

.close-btn-svg{
    color: var(--light-grey);
}

.champ-grid {
    display: grid;
    padding: 0.8rem;
    border: solid 1px var(--gold);
    display: grid;
    width: 100%;
    grid-template-columns: repeat(15, 8.4rem);
    overflow-y: auto;
    gap: 0.2rem;
    margin: 0.4rem;
    grid-auto-rows: max-content; 
    align-items: start;
    justify-content: center;
}

/* .champ {
    width: 8rem;
    height: 8rem;
} */

.confirm {
    background-color: var(--gold);
    border-radius: 2px;
    height: 4rem;
    font-size: var(--paragraph);
    width: 40%;
    justify-self: center;
}