<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DraftPick</title>

    <script defer type="module" src="../models/ComunityDragonModel.js"></script>
    <script defer type="module" src="../models/ChampionStatsModel.js"></script>
  </head>
  <body>
    <h1>League of Legends Team Tool</h1>
    <button class="loadStats">Carica statistiche</button>
    <div class="output"></div>
  </body>
</html>
